thead th {
	background-color: #bbbbbb;
}

th, td {
	padding-top: 1px;
	padding-bottom: 1px;
	min-width: auto;
}

a {
	color: #18bc9c;
}

.side-bar {
	background: #2c3e50 !important;
}

.side-bar a {
	color: #ffffff !important;
}
